@theme "/dev/null"
@import "config.rasi"

* {
  bg: #f3ead3;
  fg: #5c6a72;
  active: #a7c080;
  background-color: @bg;
  text-color:	@fg;
}

window {
  location: northeast;
  y-offset: 2.75em;
  width: 10%;
  padding: 0;
}

prompt {
  enabled: false;
}

listview {
  columns: 1;
  lines: 5;
}

mainbox {
  children: [ listview ];
}
