@theme "/dev/null"
@import "config.rasi"

window {
  location: northeast;
  y-offset: 2.75em;
  width: 10%;
  padding: 0;
}

prompt {
  enabled: false;
}

listview {
  columns: 1;
  lines: 5;
}

mainbox {
  children: [ listview ];
}
